p {
  line-height: 1.45;
}

.header {
  background: #ffcf00;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.header .container {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin: 0 auto;
  line-height: 100px;
}

.h_left {
  display: flex;
  font-weight: 500;
}

.h_right ul {
  display: flex;
  gap: 20px;
  font-size: 19px;
  font-weight: 500;
}

/* .header nav {
    margin: 0 auto 0 auto;
}
 */

.header nav {
  display: flex;
  justify-content: space-between;
}

/* .header nav>* {
    flex: 1;
} */

.header h1 {
  /* text-align: center; */
  font-size: 0;
}

.header h1 a {
  display: block;
  height: 55px;
  width: 55px;
  margin: 0 50px 0 0;
}

.header nav > ul {
  display: flex;
  gap: 40px;
  font-size: 16px;
  font-weight: 400;
}

.header nav > ul a {
  display: block;
}

/* -----------------------------------------------메인 */

.main_visual {
  position: relative;
  width: 100%;
  height: 85vh;
  overflow: hidden;
  margin-top: 0px;
}

.main_visual .base {
  background: url(../img/sky.jpg);
  background-repeat: repeat;
  background-position: 0 0;
  background-size: auto 100%;
  /*adjust s value for speed*/
  -webkit-animation: animatedBackground 500s linear infinite;
  animation: animatedBackground 500s linear infinite;
  height: 85vh;
}

.main_visual .base .fixed_item {
  position: absolute;
  width: 100%;
  height: 85vh;
  margin-top: 85px;
  background: url(../img/street-bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0px 0px 0px -60px;
}

/* 화면 밑에 깔려서 돌아가는건가봐 */

@-webkit-keyframes animatedBackground {
  from {
    background-position: 0 0;
  }

  /*use negative width if you want it to flow right to left else and positive for left to right*/
  to {
    background-position: -10000px 0;
  }
}

.main_visual .icon .plusicon {
  width: 100px;
  height: 100px;
  z-index: 10;
}

.main_visual .iconmain {
  position: relative;
}

.main_visual .itemmain {
  position: absolute;
  top: 50px;
  right: 50px;
}

.main_visual .icontree {
  position: relative;
}

.main_visual .itemtree {
  position: absolute;
  top: 50px;
  right: 50px;
}

.main_visual .icon .mainst {
  position: absolute;
  top: 210px;
  left: 525px;
}

.main_visual .icon .tree {
  position: absolute;
  top: 270px;
  right: 270px;
}

.main_visual .mainitem {
  display: flex;
  gap: 10px;
  padding: 20px 30px;
  background: #f7f7f7;
  border: #63408c 3px solid;
  width: 500px;
}

.main_visual .mainitem > * {
  flex: 1;
}

.main_visual .mainitem > img {
  height: 100%;
  /* width: 100%; */
}

.mi_right h5 {
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 15px 0;
}

.mi_right p {
  font-size: 14px;
}

.main_btn {
  position: absolute;
  bottom: 270px;
  right: 270px;
  z-index: 999;
}

/* ---------------------------------------잠깐주차  */
.sale {
  background: #ffae1b;
  padding: 20px;
}

.sale p {
  position: fixed;
  color: #ddd;
  animation: saling 10s infinite linear;
}

@keyframes saling {
  to {
    right: 6000px;
  }
}

/*  */

button.btn {
  border: 0;
  padding: 0;
  border-radius: 15px;
  /* background-color: rgb(229, 57, 35); */
  background-color: #e62728;
  /* cursor: pointer; */
  /* outline-offset: 4px; */
  position: relative;
}

button.btn:hover .front {
  transform: translateY(-10px);
  transition: transform 0.25s cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

button.btn:active .front {
  transform: translateY(-2px);
  transition: transform 0.2s;
}

/* button.btn:focus:not(:focus-visible) {
    outline: none;
} */

button.btn .front {
  width: 180px;
  height: 50px;
  display: block;
  border-radius: 15px;
  line-height: 50px;
  font-size: 15px;
  color: rgb(255, 255, 255);
  background-color: #e62728;
  /* background-color: rgb(229, 57, 35); */
  transform: translateY(-8px);
  transition: transform 0.4s cubic-bezier(0.3, 0.7, 0.4, 1);
}

button.btn .shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  transform: translateY(2px);
  filter: blur(4px);
}

/* 
button.btn .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: #c02c1a;
}
 */

/* .mainim .wave {
  display: flex;
  width: 100%;
  height: 35px;
  box-sizing: border-box;
  background-repeat: repeat-x;
  background: #027b42;
  -webkit-mask: url(../img/hills.svg);
  mask: url(../img/hills.svg);
} */

/* -----------------------------최신상품 만나봐 섹션 */

.recent {
  padding: 100px 0 0 0;
  background: #72c9df;
}

.recent h2 {
  font-size: 21px;
  font-weight: 700;
  color: #fff;
  text-shadow: 10px 10px 40px rgb(0 0 0 / 10%);
  margin: 0 0 30px 0;
}

.recent_set {
  display: flex;
  gap: 30px;
  margin: 0 0 100px 0;
}

.r_pic img {
  box-shadow: 10px 10px 40px rgb(0 0 0 / 10%);
}

.recent_set figure {
  flex: 1;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 10px 10px 40px rgb(0 0 0 / 10%);
}

.r_txt {
  padding: 30px 15px;
}

.r_txt .rtxt_num::after {
  content: '';
  height: 12px;
  width: 1px;
  background: #6f6f6f;
}

.r_txt > span {
  display: inline-block;
  font-size: 13px;
  color: #6f6f6f;
  margin: 0 0 10px 0;
}

.r_txt strong {
  display: block;
  font-size: 15px;
  font-weight: 700;
  margin: 0 0 10px 0;
}

.r_txt p {
  font-size: 15px;
  font-weight: 400;
  margin: 0 0 50px 0;
  line-height: 1.2;
}

.recent .btn {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.recent .btn .front {
  width: 150px;
  height: 40px;
  display: block;
  border-radius: 15px;
  line-height: 40px;
  font-size: 15px;
  color: rgb(255, 255, 255);
  background-color: rgb(229, 57, 35);
  transform: translateY(-8px);
  transition: transform 0.4s cubic-bezier(0.3, 0.7, 0.4, 1);
}

.recent .wave {
  display: flex;
  width: 100%;
  height: 35px;
  box-sizing: border-box;
  background-repeat: repeat-x;
  background: #fff;
  -webkit-mask: url(../img/hills.svg);
  mask: url(../img/hills.svg);
  z-index: 999;
}

/* -------------------------------------------------section charac------ */

.tab_menu {
  /* display: flex; */
  /* gap: 15px; */
  margin: 0 auto;
  transform: translateX(330px);
}

.tab_menu > li {
  display: inline-block;
  margin: 0 auto;
}

.tab_menu > li > a {
  display: block;
  /* line-height: 40px; */
  padding: 0 20px;
  background: #f7f7f7;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  height: 100px;
  width: 100px;
  margin: 0 0 10px 0;
}

.tab_menu > li.on a {
  background: #ffae1b;
  color: #fff;
}

.tab_menu strong {
  display: block;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
}

.tab_menu img {
  padding: 20px 0 0 0;
}

.tab_menu > li ~ li {
  border-left: 1px solid #fff;
}

.tab_content > li {
  display: none;
  padding: 10px;
}

.tab_content > li.on {
  display: block;
}

.charac {
  padding: 100px 0;
}

.charac h2 {
  font-size: 21px;
  font-weight: 700;
  margin: 0 0 30px 0;
}

.charac button.btn {
  border: 0;
  padding: 0;
  border-radius: 50%;
  background-color: rgb(229, 57, 35);
  /* cursor: pointer; */
  /* outline-offset: 4px; */
  position: relative;
}

.charac button.btn:hover .front {
  transform: translateY(-10px);
  transition: transform 0.25s cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.charac button.btn:active .front {
  transform: translateY(-2px);
  transition: transform 0.2s;
}

/* button.btn:focus:not(:focus-visible) {
    outline: none;
} */

.charac button.btn .front {
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 50%;
  line-height: 50px;
  font-size: 21px;
  color: rgb(255, 255, 255);
  background-color: rgb(229, 57, 35);
  transform: translateY(-8px);
  transition: transform 0.4s cubic-bezier(0.3, 0.7, 0.4, 1);
}

.charac button.btn .shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: hsl(0deg 0% 0% / 0.25);
  transform: translateY(2px);
  filter: blur(4px);
}

.toy {
  width: 327.76px;
  height: 360px;
  background-position-x: 0;
  margin: 0 auto;
}

.toy01 {
  background-image: url(../img/toy01.png);
}

.toy02 {
  background-image: url(../img/toy02.png);
}

.toy03 {
  background-image: url(../img/toy03.png);
}

.toy04 {
  background-image: url(../img/toy04.png);
}

.toy05 {
  background-image: url(../img/toy05.png);
}

.toy_inner {
  margin: 0 auto;
  position: relative;
}

.charac button.left {
  position: absolute;
  top: 50%;
  left: 350px;
  transform: translate(-50%, -50%);
}

.charac button.right {
  position: absolute;
  top: 50%;
  right: 300px;
  transform: translate(-50%, -50%);
}

/* fffffffffffffffffoooooooooooooooootttttttttttttttttttt */
.footer {
  /* padding: 100px 0; */
  background: #222;
  color: #999;
  line-height: 1.4;
  font-size: 15px;
  padding: 50px 0;
}

.footer img {
  height: 50px;
  width: 50px;
}

.footer h3 {
  margin: 0 0 10px 0;
}

.footer .footerTop ul > li > h3 {
  line-height: 50px;
  font-weight: 500;
}

.footer .footerTop ul > li > ul > li {
  font-size: 13px;
  font-weight: 300;
  margin: 0 0 10px 0;
}

.footer .container > ul {
  justify-content: space-between;
  display: flex;
}

.footer .container > ul > .lelego {
  flex: 2;
}

.footer .container > ul > .footerBar {
  flex: 1;
}

/* .footer .container>ul>.goBeyond>.icon {
    display: flex;
    gap: 10px;
} */

.footer .container > ul > .lelego > .haha {
  margin: 0 0 50px 0;
}

.footer .container > ul > .lelego > .icon > li {
  display: inline-block;
  padding: 5px 8px;
  border: 1px solid #999;
  border-radius: 50%;
}

/* ---------------- 셀아이템 */
.sellitem {
  position: relative;
  display: flex;
  /* text-align: center; */
}

.sell_vid {
  position: sticky;
  top: 0;
  width: 50%;
  height: 100vh;
  overflow: hidden;
  /* text-align: center; */
}

.sell_vid .sv_top span {
  display: block;
}

.sell_vid .sv_top {
}

.sell_vid .sell_tit {
  position: absolute;
  top: 50px;
  left: 100px;
  background: #ffcf00;
  font-size: 13px;
  font-weight: 500;
  padding: 10px 25px;
  border-radius: 10px;
}

.sell_vid .heart {
  position: absolute;
  top: 50px;
  right: 100px;
  font-size: 19px;
  border: #000 1px solid;
  border-radius: 50%;
  padding: 5px;
}

.sell_vid .sv_txt {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 100px 100px 100px;
}

.sell_vid h2 {
  display: inline-block;
  font-size: 45px;
  font-weight: 700;
  margin: 0 0 30px 0;
}

.sell_vid p {
  font-size: 21px;
  margin: 0 0 50px 0;
}

.item_list {
  width: 50%;
  background: #f5e3b9;
  padding: 50px 200px;
}

.item_list ul li {
  position: relative;
  padding: 30px;
  margin: 0 0 50px 0;
}

.item_list ul li::after {
}
